$navbar-text-color: #000;

.o_web_client {
    .o_main_navbar {

        grid-template-areas: "brand sections systray";
        grid-template-columns:
            max-content
            minmax($o-navbar-height, 1fr)
            fit-content(100%);
        $-backend-entry-hover-bg: rgba(0, 0, 0, .08);
        $-backend-font-weight-bold: 700;

        %-main-navbar-entry-base {
            position: relative;
            display: flex;
            align-items: center;
            width: auto;
            height: $o-navbar-height;
            cursor: pointer;
            user-select: none;
            background: transparent;
        
            @include o-hover-text-color(rgba($navbar-text-color, .9), $navbar-text-color);
        }
        
        %-main-navbar-entry-bg-hover {
            @include hover() {
                background-color: $-backend-entry-hover-bg;
            }
        }
        
        %-main-navbar-entry-active {
            @include plain-hover-focus() {
                background: $-backend-entry-hover-bg;
                color: $navbar-text-color;
            }
        }

        color: $navbar-text-color;
        border-bottom: 1px solid #ebebeb;
        background-color: $o-brand-navbar-color;

        .o_menu_brand {
            padding-left: 15px;
        }
    }
}