.ics_web_report {
    .o_control_panel {
        .o_cp_bottom_right {
            .o_cp_pager {
                @extend .d-none;
            }
            button {
                @extend .bg-300;
                @extend .rounded;
                @extend .mr-1;
            }
        }
    }
}

.ics_report_base {
    color: #000;
    overflow-y: auto;
    .table-responsive {
        height: 100%;
        & thead tr:not(.group_header) th {
            position: sticky;
            top: 0;
        }
        table {
            width: 100%;
        }
    }
    .ics_report_base_table {
        thead {
            tr:not(.group_header) {
                th {
                    @extend .text-center;
                    @extend .border-bottom;
                    position: sticky;
                    top: 0;
                    vertical-align: middle;
                    &:first-child() {
                        @extend .bg-white;
                    }
                    &:nth-child(odd) {
                        @extend .bg-100;
                    }
                    &:nth-child(even) {
                        @extend .bg-white;
                    }
                    &.string {
                        @extend .text-left;
                    }
                }
            }
        }

        tbody {
            tr {
                &.ics_expandable_row {
                    cursor: pointer;
                    td.line_name, td.ics_column_value {
                        font-weight: bold;
                        vertical-align: middle;
                    }
                }
                td {
                    padding: 0px;
                    vertical-align: middle;

                    div.ics_clickable_action_section.line_name {
                        color: $o-main-link-color;
                        cursor: pointer;
                    }

                    &.line_name {
                        @extend .text-truncate;
                        font-weight: normal;
                        width: 250px;
                        line-height: 25px;
                        
                        .ics_clickable_action_section {
                            color: $o-main-link-color;
                            cursor: pointer;
                        }
                    }
                    &.monetary, &.integer, &.float, &.percentage {
                        text-align: right;
                        @extend .p-2;
                    }
                    &.date, &.datetime {
                        text-align: center;
                        @extend .p-2;
                    }
                    &.ics_zero_value {
                        color: lighten(#7c7f89, 10%) !important;
                        &.ics_hide_zero {
                            span {
                                display: none !important;
                            }
                        }
                    }
                    .btn-foldable {
                        color: #7c7f89;
                    }
                }
                &:not(.ics_group_total) {
                    &:hover {
                        td {
                            @extend .bg-200;
                            &:first-child() {
                                @extend .bg-200;
                            }
                            &:nth-child(odd) {
                                @extend .bg-200;
                            }
                            &:nth-child(even) {
                                @extend .bg-200;
                            }
                        }
                    }
                    td {
                        @extend .p-1;
                        &:first-child() {
                            @extend .bg-white;
                        }
                        &:nth-child(odd) {
                            @extend .bg-100;
                        }
                        &:nth-child(even) {
                            @extend .bg-white;
                        }
                    }
                }
                &.ics_section_expanded {
                    td.line_name {
                        font-weight: bold;
                    }
                }
            }
        }
        .ics_report_base_line_level_0 {
            border-width: 3px;
            font-weight: bold;
            border-bottom-style: double;
            td {
                padding-top: 32px;
            }
        }
        .ics_report_base_line_level_1 {
            font-weight: bold;
            border-bottom: 1px solid #d8dadd;
            td {
                &.line_name {
                    padding-left: 15px !important;
                    font-weight: bold;
                }
            }
        }
        .ics_report_base_line_level_2 {
            border-bottom: 1px solid #d8dadd;
            td {
                &.line_name {
                    padding-left: 10px * 2 !important;
                    font-weight: normal;
                }
            }

            &:not(.ics_expandable_row) {
                td {
                    padding-left: 10px * 2 !important;
                    &.line_name {
                        font-weight: bold;
                    }
                }   
            }
        }
        .ics_report_base_line_level_3 {
            border-bottom: 1px solid lighten($color: #d8dadd, $amount: 10%);
            td.line_name {
                padding-left: 8px * 3 !important;
            }
        }
        .ics_report_base_line_level_4 {
            border-bottom: 1px solid lighten($color: #d8dadd, $amount: 10%);
            td.line_name {
                padding-left: 9px * 4 !important;
            }
        }
        .ics_group_total {
            border-bottom:1px solid #d8dadd;
            td {
                @extend .bg-300;
                font-weight: bold !important;
                font-style: italic;
            }
        }
    }
}
.ics_filter_list {
    padding-left: 10px;
    padding-right: 10px;

    .o_inner_group {
        margin-bottom: 0px;
    }
}

.ics_foldable_item.ics_closed_container {
    display: none;
}

.ics_foldable_item.ics_open_container {
    display: block;
}
.ics_report_comp_search_box {
    margin: 0px 20px;
}
