table.ics_report_main_table {
    color: #000000;
    border-left: none;
    border-right:none;
    table-layout: auto;
    width: 100%;
    thead {
        th {
            text-align: center;
        }
    }
    tbody {
        td {
            width: 1%;
            vertical-align: middle;
            
            &.ics_report_title {
                white-space: nowrap;
            }
            &.monetary, &.integer, &.float, &.percentage {
                text-align: right;
                padding: 5px;
                white-space: nowrap;
            }
            &.date, &.datetime, &.string {
                text-align: center;
                padding: 5px;
            }
            &.string {
                span {
                    display: inline-block;
                    word-wrap: break-word;
                    text-wrap: wrap;
                }
            }
            &.text {
                width: 120px;
                span {
                    display: inline-block;
                    word-wrap: break-word;
                    text-wrap: wrap;
                }
            }
            &.nowrap {
                white-space: nowrap;
            }

        }
        
        tr {
            &.ics_group_total {
                td {
                    font-weight: bold !important;
                    font-style: italic;
                }
            }
            &.ics_report_base_line_level_0 {
                font-weight: bold;
                td {
                    padding-top: 32px;
                }
            }
            &.ics_report_base_line_level_1 {
                font-weight: bold;
                td {
                    &.line_name {
                        padding-left: 15px !important;
                        font-weight: bold;
                    }
                }
            }
            &.ics_report_base_line_level_2 {
                td {
                    &.line_name {
                        padding-left: 10px * 2 !important;
                        font-weight: normal;
                    }
                }
                
            }
            &.ics_report_base_line_level_3 {
                td.line_name {
                    padding-left: 10px * 3 !important;
                }
            }
            &.ics_report_base_line_level_4 {
                td.line_name {
                    padding-left: 10px * 4 !important;
                }
            }
            td.ics_zero_value {
                &.ics_hide_zero {
                    span {
                        display: none;
                    }
                }
            }
        }
    }   
}
