.o_portal main {
    background-color: white;
}

.ics_customer_portal {
    .ics_portal_menu_container {
        @extend .bg-primary;
        width: 270px;
        padding: 20px 0px;

        .portal-nav {
            border-color: #8080805c !important;
            a, h2 {
                color: white !important;
            }
            a i {
                width: 25px;
                text-align: center;
            }
            li {
                border-color: #8080805c !important;
                padding: 5px;
                a:hover {
                    color: #467fc1 !important;
                    color: white !important;
                }
                &:hover {
                    @extend .bg-black-25;
                    color: white !important;
                }
            }
        }
    }
    .ics_portal_main_content {
        padding: 15px;
    }
}

.o_portal.container {
    padding: 5px;
    padding-top: 15px;
}

#wrapwrap {
    a[href='/my/home'],#o_logout_divider {
        display: none;
    }
}
