.o_list_view {
    .o_list_table thead {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    thead {
        @extend .shadow-sm;
        background-color: $table-head-bg-color;
        border-bottom: 1px solid darken($table-head-bg-color, 10%);
        th {
            border: none;
            border-top: 1px solid darken($table-head-bg-color, 10%);
            border-bottom: 1px solid darken($table-head-bg-color, 10%);
            padding-top: 5px;
            padding-bottom: 5px;
            &:hover {
                background-color: darken($table-head-bg-color, 8%);
            }
        }
    }

    tbody {
        tr.o_group_header, tr.o_group_header:focus-within {
            background-image: none;
            background-color: darken($table-head-bg-color, 1%);
            padding-top: 5px;
            padding-bottom: 5px;
            &:hover {
                background-color: darken($table-head-bg-color, 5%);
            }
        }
        td {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}
