
.o_web_client {
    .o_main_navbar {
        grid-template-areas: "brand sections systray";
        grid-template-columns:
            max-content
            minmax($o-navbar-height, 1fr)
            fit-content(100%);
        $-backend-entry-hover-bg: rgba(0, 0, 0, .08);
        $-backend-font-weight-bold: 700;

        %-main-navbar-entry-base {
            position: relative;
            display: flex;
            align-items: center;
            width: auto;
            height: $o-navbar-height;
            cursor: pointer;
            user-select: none;
            background: transparent;
            font-weight: 700;
        
            @include o-hover-text-color(rgba($navbar-text-color, .9), $navbar-text-color);
        }
        
        %-main-navbar-entry-bg-hover {
            @include hover() {
                background-color: $-backend-entry-hover-bg;
            }
        }
        
        %-main-navbar-entry-active {
            @include plain-hover-focus() {
                background: $-backend-entry-hover-bg;
                color: $navbar-text-color;
            }
        }

        color: $navbar-text-color;
        border-bottom: none;
        background-color: $o-brand-navbar-color;

        .o_menu_brand {
            padding-left: 15px;
            color: $navbar-text-color;
        }

        .o_menu_sections {
            a.dropdown-item.o_nav_entry, .dropdown > .dropdown-toggle {
                margin: 5px 2px;
                height: 30px;
                border-radius: 0.25rem;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
        .o_menu_systray {
            .o-dropdown.o_switch_company_menu {
                .dropdown-toggle {
                    background-color: $o-gray-100;
                    padding: 5px 15px 5px 10px;
                    border: 1px solid $o-gray-300;
                    height: 30px;
                    border-radius: 5px;
                    padding-right: 18px;
                    &:after{
                        content: "";
                        position: absolute;
                        right: 3px;
                        top: 50%;
                        transform: translateY(-50%);
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 5px solid black;
                    }
                }
            }
        }
    }
}
