$scrollbar-bg-color: #DFE9EB;
$scrollbar-color: #9b9b9b;

// Global Body
body {
	color: $o-main-text-color;
}

/* Global Scrollbar */
/* Firefox */
/* Chrome, Edge and Safari */
* {
	scrollbar-width: thin;
	scrollbar-color: #397524 #DFE9EB;
	&::-webkit-scrollbar {
		width: 7px;
        height: 7px;
	}
	&::-webkit-scrollbar-track {
		border-radius: 5px;
		background-color: $scrollbar-bg-color;
		border: 2px solid #FFFFFF;
		&:hover {
			background-color: darken($scrollbar-bg-color, 10%);
		}
		&:active {
			background-color: darken($scrollbar-bg-color, 10%);
		}
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: $scrollbar-color;
		border: 1px solid #FFFFFF;
		&:hover {
			background-color: darken($scrollbar-color, 10%);
		}
		&:active {
			background-color: darken($scrollbar-color, 10%);
		}
	}
}

// Global Drop-down menu
.dropdown-menu {
    @extend .shadow-lg;
    border-radius: 0.25rem;
    border: 1px solid #ebebeb;

	.dropdown-menu_group {
		color: $primary;
	}
	.dropdown-item {
		font-size: $o-font-size-base;
		color: $navbar-text-color;
	}
}


.o_MessagingMenu_counter {
	color: white;
}

.o_menu_systray {
	.o-dropdown.o_switch_company_menu {
		.dropdown-toggle {
			@extend .shadow-sm;
		}
	}
}