.o_report_layout_boxed {
    color: #000;

    .o_boxed_header {
        color: #000;
    }
}
.article{
    font-size: 12px;
}
.article .row > div > table.table-bg-white tr td, .article .row:not(#total) > div > table tbody tr:not(:last-child) td:last-child, .article .row > div > table tr:last-child td{
    background-color: transparent;
    color: #000;
    border: 0 !important;
    padding: 2px 0px;
}
