.ics_account_report {
    overflow-x: auto;
    direction: ltr;
    background-color: white;
    color: #444B5A;

    .table-responsive {
        overflow-y: auto;
        height: 100%;
        & thead th {
            position: sticky;
            top: 0;
        }
        table {
            width: 100%;
            th {
                @extend .bg-muted;
                @extend .border;
                border: 1px !important;
            }
        }
    }
    .ics_account_reports_table {
        width: 100%;

        .ics_account_report_column_header {
            &:first-child {
                border: none;
            }
            border: 1px solid #e6e6e6;
            border-collapse: separate;
            padding-right: 8px;
            padding-left: 8px;
        }

        .number {
            text-align: right;
        }

        tbody {
            td {
                padding-right: 8px;
                padding-left: 8px;
            }
        }
        .ics_expandable_row, .ics_journal_entries_row {
            cursor: pointer;
        }
        .ics_account_report_line_level_0 {
            border-width: 3px;
            font-weight: bold;
            border-bottom-style: double;
            td {
                padding-top: 32px;
            }
        }
        .ics_account_report_line_level_1 {
            font-weight: bold;
            border-bottom: 1px solid #bbb;
            td {
                padding-left: 15px;
            }
        }
        .ics_account_report_line_level_2 {
            border-bottom: 1px solid #eee;
            font-weight: bold;
            td {
                padding-left: 10px * 2;
            }
        }
        .ics_account_report_line_level_3 {
            border-bottom: 1px solid #eee;
            font-weight: bold;
            td {
                padding-left: 10px * 3;
            }
        }
        .ics_account_report_line_level_4 {
            td {
                padding-left: 10px * 4;
            }
        }
    }
}
.ics_account_report_search {
    margin-left: 10px;
    margin-right: 10px;
}
.js_field_m2m {
    padding-left: 10px;
    padding-right: 10px;
}

.ics_foldable_item.ics_closed_container {
    display: none;
}

.ics_foldable_item.ics_open_container {
    display: block;
}
.ics_report_comp_search_box {
    margin: 0px 20px;
}
