.navbar-brand, .navbar-text, .navbar .nav-link {
    font-family: 'Montserrat', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: black;
}
